 <%# if current_user.status == "admin" %>
  <% @todolists.each do |f|%>
    <p><%= f.title %></p>
  <% end %>
    <p><%= @todolists.count %></p>
    <p><%= @users.count %></p>
<%# else %>
<%# redirect_to todolists_path, notice: "avez pas accès à ces informations" %>
<%# end %>
