<div class="taskdone">

  <h1>Mes tâches effectuées</h1>
  <% @listitems.last(10).each do |f| %>
  <div class="taskdone_iteration">
    <% if f.status == true %>
    <%= f.title  %>
    <%= f.updated_at %>
    <% end %>
    <% end %>
    <br>
    </div>
  </div>
