<div class="taskdone">

  <h1>Mes tâches effectuées</h1>
  <% @listitems.last(10).each do |f| %>
  <div class="taskdone_iteration">
    <% if f.status == true %>
    <i class="fas fa-check"></i>
    <%= f.title %>  >>
    <%= f.updated_at.strftime("Tâche effectuée le %d-%m-%Y à %H:%M") %>
    <% end %>
    <% end %>
    <br>
  </div>
</div>
