<h1>Todo list</h1>

<% @todolists.each do |todo|  %>
<div class="index_row">
  <p><%= link_to todo.title, todolist_path(todo) %></p>
</div>
<% end %>

<% if current_user.status == "admin" %>
<p><%= link_to "Page admin", adminshow_path  %></p>
<% end %>

<%= link_to "Créer une nouvelle liste",  new_todolist_path %>
