<h1>Vos stats</h1>

<p>
  <h1>Hello Alex</h1>
  <h1>Le nombre de Todo lists</h1>
  <p><%= @todolists.count %></p>
  <h1>Le nombre de todo Users</h1>
  <p><%= @users.count %></p>
  <br>
  <br>
  <%#= link_to "Voir vos listes", todolists_url(@todolists) %>
</p>
