<h1>Vos stats</h1>

<p>
  <h1>auriol.alexandre@gmail.com</h1>
    <p><%= @todolists.count %></p>
    <p><%= @users.count %></p>
  <br>
  <br>
  <%#= link_to "Voir vos listes", todolists_url(@todolists) %>
</p>
